form {
    max-width: 400px;
    // margin: auto;

    label,
    input,
    textarea {
        display: block;
        margin-bottom: 10px;
        font-size: 3rem;
        color: $color-secondary;

    }

    button {
        padding: 10px;
        background-color: $color-laranja;
        color: $font-color-primary;
        border: none;
        cursor: pointer;
        font-size: 3rem;
        width: 250px;
        height: 60px;
    }

    button:hover {
        background-color: $color-branca;
        color: $font-color-secondary;
    }

    input {
        width: 600px !important;
        height: 40px;
    }

    textarea {
        width: 600px !important;
        // background-color: aqua;
    }

}